.catDsgSpWp1002DailySnapshotImageWrapper .catDsgSpWp1002DailySnapshotImageWrapperDataSignature img {
  width: 100% !important;
  padding-right: 5px;
  padding-left: 0px;
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif !important;
  background-color: transparent;
}
.catDsgSpWp1002DailySnapshotImageWrapper .catDsgSpWp1002DailySnapshotComments {
  font-family: Arial,Helvetica Neue,Helvetica,sans-serif !important;
  color: #464646;
  font-size: 13px;
}
.catDsgSpWp1002DailySnapshotImageWrapper .catDsgSpWp1002DailySnapshotMorelink{
  text-align: right;
  line-height: 2em;
}

.catDsgSpWp1002DailySnapshotImageWrapper .catDsgSpWp1002DailySnapshotMorelink a {
  margin: 0 25px 0 0;
  padding: 5px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 800;
  text-transform: uppercase;
  color: #808080;
}

.catDsgSpWp1002DailySnapshotImageWrapper .catDsgSpWp1002DailySnapshotMorelink a:hover {
  text-decoration: underline;
  color: #f15a29;
}


